<!DOCTYPE html>
<html lang="ko">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>기본형/반응형 웹 템플릿 디자인</title>
    <link href="css/main.css" rel="stylesheet" />
</head>
<body>
    <header>
        <h1>
            <a href="../../index.html">
                <img src="../../img/footer_logo.png" alt="하수정" />
            </a>
        </h1>
    </header>
    <section class="teml">
        <ul class="menu">
            <li>웹디자인</li>
            <li class="on">영상편집</li>
            <li>재직자 기초</li>
            <li>재직자 중급</li>
        </ul>
        <div class="cont"><!-- 재직자 기초 03 -->
            <article>
                <figure>
                    <img src="img/tem01.png" alt=""/>
                </figure>
                <div>
                    <h4>포트폴리오 홈페이지 ver.1</h4>
                    <p>#반응형 #탭메뉴 #편집디자인 #모션디자인 #그래픽디자인 #유튜브 #mp4</p>
                    <ul>
                        <li><a href="tem_1/index.html">Design</a></li>
                        <li><a href="#">Code</a></li>
                    </ul>
                </div><!-- .info end -->
            </article>
            <article>
                <figure>
                    <img src="img/tem02.png" alt=""/>
                </figure>
                <div>
                    <h4>포트폴리오 홈페이지 ver.2</h4>
                    <p>#반응형 #탭메뉴 #편집디자인 #모션디자인 #그래픽디자인 #유튜브 #mp4</p>
                    <ul>
                        <li><a href="tem_2/index.html">Design</a></li>
                        <li><a href="#">Code</a></li>
                    </ul>
                </div><!-- .info end -->
            </article>

            <article>
                <figure>
                    <img src="img/tem03.png" alt=""/>
                </figure>
                <div>
                    <h4>포트폴리오 홈페이지 ver.3</h4>
                    <p>#기본형 #탭메뉴 #편집디자인 #모션디자인 #그래픽디자인 #유튜브 #mp4</p>
                    <ul>
                        <li><a href="https://hwebdew.github.io/portTem/">Design</a></li>
                        <li><a href="#">Code</a></li>
                    </ul>
                </div><!-- .info end -->
            </article>

            <article>
                <figure>
                    <img src="img/tem04.png" alt=""/>
                </figure>
                <div>
                    <h4>포트폴리오 홈페이지 ver.4</h4>
                    <p>#기본형 #좌측메뉴 #탭메뉴 #편집디자인 #모션디자인 #그래픽디자인 #유튜브 #mp4</p>
                    <ul>
                        <li><a href="tem_3/index.html">Design</a></li>
                        <li><a href="#">Code</a></li>
                    </ul>
                </div><!-- .info end -->
            </article>
             
        </div><!-- 03 -->
    </section>
    <footer>
        <div>
            <img src="../../img/footer_logo.png" alt="하수정" />
            <address>Copyright 2022. hasujeong All rights reserved.</address>
        </div>
    </footer>
    </section>
</body>
</html>